In [1]:
import pandas as pd

In [94]:
test = pd.read_csv('test.csv')

In [95]:
test

             route_key         doj  srcid  destid
0     2025-02-11_46_45  2025-02-11     46      45
1     2025-01-20_17_23  2025-01-20     17      23
2     2025-01-08_02_14  2025-01-08      2      14
3     2025-01-08_08_47  2025-01-08      8      47
4     2025-01-08_09_46  2025-01-08      9      46
...                ...         ...    ...     ...
5895  2025-01-23_46_48  2025-01-23     46      48
5896  2025-02-21_46_09  2025-02-21     46       9
5897  2025-01-17_32_19  2025-01-17     32      19
5898  2025-01-24_45_03  2025-01-24     45       3
5899  2025-01-27_32_19  2025-01-27     32      19

[5900 rows x 4 columns]

In [100]:
test = test.sort_values(by= 'doj')

In [101]:
test['doj'].unique()

array(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
       '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
       '2025-01-09', '2025-01-10', '2025-01-11', '2025-01-12',
       '2025-01-13', '2025-01-14', '2025-01-15', '2025-01-16',
       '2025-01-17', '2025-01-18', '2025-01-19', '2025-01-20',
       '2025-01-21', '2025-01-22', '2025-01-23', '2025-01-24',
       '2025-01-25', '2025-01-26', '2025-01-27', '2025-01-28',
       '2025-01-29', '2025-01-30', '2025-01-31', '2025-02-01',
       '2025-02-02', '2025-02-03', '2025-02-04', '2025-02-05',
       '2025-02-06', '2025-02-07', '2025-02-08', '2025-02-09',
       '2025-02-10', '2025-02-11', '2025-02-12', '2025-02-13',
       '2025-02-14', '2025-02-15', '2025-02-16', '2025-02-17',
       '2025-02-18', '2025-02-19', '2025-02-20', '2025-02-21',
       '2025-02-22', '2025-02-23', '2025-02-24', '2025-02-25',
       '2025-02-26', '2025-02-27', '2025-02-28'], dtype=object)

In [158]:
df = pd.read_csv('train/transactions.csv')

In [159]:
df

,doj,doi,srcid,destid,srcid_region,destid_region,srcid_tier,destid_tier,cumsum_seatcount,cumsum_searchcount,dbd
0,2023-03-01,2023-01-30,45,46,Karnataka,Tamil Nadu,Tier 1,Tier 1,8.0,76.0,30
1,2023-03-01,2023-01-30,46,45,Tamil Nadu,Karnataka,Tier 1,Tier 1,8.0,70.0,30
2,2023-03-01,2023-01-30,45,47,Karnataka,Andhra Pradesh,Tier 1,Tier 1,4.0,142.0,30
3,2023-03-01,2023-01-30,47,45,Andhra Pradesh,Karnataka,Tier 1,Tier 1,0.0,68.0,30
4,2023-03-01,2023-01-30,46,9,Tamil Nadu,Tamil Nadu,Tier 1,Tier2,9.0,162.0,30
...,...,...,...,...,...,...,...,...,...,...,...
2266095,2025-02-28,2025-02-28,2,24,Maharashtra and Goa,Maharashtra and Goa,Tier 1,Tier2,0.0,0.0,0
2266096,2025-02-28,2025-02-28,44,45,Tamil Nadu,Karnataka,Tier2,Tier 1,0.0,0.0,0
2266097,2025-02-28,2025-02-28,47,10,Andhra Pradesh,Andhra Pradesh,Tier 1,Tier 3,0.0,0.0,0
2266098,2025-02-28,2025-02-28,38,36,Rest of North,Delhi,Tier 1,Tier2,0.0,0.0,0
2266099,2025-02-28,2025-02-28,19,30,Madhya Pradesh,Maharashtra and Goa,Tier 1,Tier 1,0.0,0.0,0

In [152]:
df_day = df[df['doj'] == '2025-02-28' ]
df_day[df_day['dbd'] == 15]

,doj,doi,srcid,destid,srcid_region,destid_region,srcid_tier,destid_tier,cumsum_seatcount,cumsum_searchcount,dbd
2264500,2025-02-28,2025-02-13,45,46,Karnataka,Tamil Nadu,Tier 1,Tier 1,166.0,7560.0,15
2264501,2025-02-28,2025-02-13,46,45,Tamil Nadu,Karnataka,Tier 1,Tier 1,116.0,5610.0,15
2264502,2025-02-28,2025-02-13,45,47,Karnataka,Andhra Pradesh,Tier 1,Tier 1,92.0,6602.0,15
2264503,2025-02-28,2025-02-13,47,45,Andhra Pradesh,Karnataka,Tier 1,Tier 1,88.0,5150.0,15
2264504,2025-02-28,2025-02-13,46,9,Tamil Nadu,Tamil Nadu,Tier 1,Tier2,363.0,15117.0,15
...,...,...,...,...,...,...,...,...,...,...,...
2264595,2025-02-28,2025-02-13,2,24,Maharashtra and Goa,Maharashtra and Goa,Tier 1,Tier2,25.0,1895.0,15
2264596,2025-02-28,2025-02-13,44,45,Tamil Nadu,Karnataka,Tier2,Tier 1,45.0,955.0,15
2264597,2025-02-28,2025-02-13,47,10,Andhra Pradesh,Andhra Pradesh,Tier 1,Tier 3,0.0,1905.0,15
2264598,2025-02-28,2025-02-13,38,36,Rest of North,Delhi,Tier 1,Tier2,5.0,1495.0,15
2264599,2025-02-28,2025-02-13,19,30,Madhya Pradesh,Maharashtra and Goa,Tier 1,Tier 1,25.0,1140.0,15

In [62]:
df['srcid_tier'].unique()

array(['Tier 1', 'Tier2', 'Tier 3', 'Tier 4'], dtype=object)

In [63]:
df['destid_tier'].unique()

array(['Tier 1', 'Tier2', 'Tier 3', 'Tier 4'], dtype=object)

In [174]:
dfs = df.groupby([ 'srcid_region' , 'destid_region' ]).size().reset_index() #.apply(pd.Series.unique())

In [175]:
dfs # 'srcid', 'destid',

           srcid_region        destid_region       0
0        Andhra Pradesh       Andhra Pradesh  294593
1        Andhra Pradesh            Karnataka   90644
2        Andhra Pradesh  Maharashtra and Goa   45322
3        Andhra Pradesh           Tamil Nadu   22661
4                 Delhi            Rajasthan   22661
5                 Delhi        Rest of North  135966
6                East 1               East 1  135966
7             Karnataka       Andhra Pradesh   90644
8             Karnataka            Karnataka   45322
9             Karnataka               Kerala   22661
10            Karnataka           Tamil Nadu  113305
11               Kerala            Karnataka   22661
12       Madhya Pradesh       Madhya Pradesh   45322
13       Madhya Pradesh  Maharashtra and Goa   45322
14  Maharashtra and Goa       Andhra Pradesh   22661
15  Maharashtra and Goa       Madhya Pradesh   22661
16  Maharashtra and Goa  Maharashtra and Goa  362576
17            Rajasthan                Delhi   22661
18        Rest of North                Delhi  158627
19           Tamil Nadu       Andhra Pradesh   22661
20           Tamil Nadu            Karnataka  113305
21           Tamil Nadu           Tamil Nadu  407898

In [30]:
df['destid'].unique()

array([46, 45, 47,  9, 48,  5, 44, 35, 28, 40, 36, 32, 11, 30,  2, 19, 43,
       23,  7, 12, 18, 42, 25, 15, 34,  3, 16, 26, 27, 13, 31, 14, 37, 20,
       39, 41, 21,  6,  1,  8, 33, 22, 29, 24, 10], dtype=int64)

In [18]:
len(df['destid_region'].unique())

10

In [20]:
len(df['destid_tier'].unique())

4

# train

In [154]:
# Load datasets
trans = pd.read_csv('train/transactions.csv', parse_dates=['doj', 'doi'])
train = pd.read_csv('train/train.csv', parse_dates=['doj'])
submission = pd.read_csv('test.csv')

trans_15 = trans[trans['dbd'] == 15].copy()

# --- Merge with final seat count ---
train_data = trans_15.merge(train, on=['doj', 'srcid', 'destid'], how='inner')

# --- Feature Engineering ---
def add_date_features(df):
    df['day_of_week'] = df['doj'].dt.dayofweek
    df['month'] = df['doj'].dt.month
    return df

train_data = add_date_features(train_data)



# --- Select Features ---
features = [
    'srcid', 'destid', 'srcid_region', 'destid_region',
    'srcid_tier', 'destid_tier', 'cumsum_seatcount', 'cumsum_searchcount',
    'day_of_week', 'month'
]
target = 'final_seatcount'
train['final_seatcount'].describe()

count    67200.000000
mean      2001.729464
std       1194.711140
min          2.000000
25%       1252.000000
50%       1685.000000
75%       2408.000000
max      13503.000000
Name: final_seatcount, dtype: float64

In [156]:
train_data

,doj,doi,srcid,destid,srcid_region,destid_region,srcid_tier,destid_tier,cumsum_seatcount,cumsum_searchcount,dbd,final_seatcount,day_of_week,month
0,2023-03-01,2023-02-14,45,46,Karnataka,Tamil Nadu,Tier 1,Tier 1,16.0,480.0,15,2838.0,2,3
1,2023-03-01,2023-02-14,46,45,Tamil Nadu,Karnataka,Tier 1,Tier 1,34.0,352.0,15,2298.0,2,3
2,2023-03-01,2023-02-14,45,47,Karnataka,Andhra Pradesh,Tier 1,Tier 1,36.0,892.0,15,2720.0,2,3
3,2023-03-01,2023-02-14,47,45,Andhra Pradesh,Karnataka,Tier 1,Tier 1,18.0,1130.0,15,2580.0,2,3
4,2023-03-01,2023-02-14,46,9,Tamil Nadu,Tamil Nadu,Tier 1,Tier2,48.0,1023.0,15,4185.0,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67195,2024-12-31,2024-12-16,2,24,Maharashtra and Goa,Maharashtra and Goa,Tier 1,Tier2,20.0,1300.0,15,800.0,1,12
67196,2024-12-31,2024-12-16,44,45,Tamil Nadu,Karnataka,Tier2,Tier 1,75.0,1220.0,15,1360.0,1,12
67197,2024-12-31,2024-12-16,47,10,Andhra Pradesh,Andhra Pradesh,Tier 1,Tier 3,15.0,1560.0,15,560.0,1,12
67198,2024-12-31,2024-12-16,38,36,Rest of North,Delhi,Tier 1,Tier2,0.0,340.0,15,535.0,1,12
67199,2024-12-31,2024-12-16,19,30,Madhya Pradesh,Maharashtra and Goa,Tier 1,Tier 1,155.0,1595.0,15,2040.0,1,12

In [165]:
df_pad = pd.read_csv("padded_training_data.csv")

In [169]:
df_pad

,doj,srcid,destid,final_seatcount,cumsum_seatcount_dbd15,cumsum_seatcount_dbd16,cumsum_seatcount_dbd17,cumsum_seatcount_dbd18,cumsum_seatcount_dbd19,cumsum_seatcount_dbd20,...,search_to_book_dbd27,search_to_book_dbd28,search_to_book_dbd29,search_to_book_dbd30,srcid_region,destid_region,srcid_tier,destid_tier,day_of_week,month
0,2023-03-01,1,2,1115.0,0.0,0.0,0.0,0.0,0.0,0.0,...,45.000000,45.000000,45.000000,40.000000,6,6,3,0,2,3
1,2023-03-01,2,1,910.0,0.0,0.0,0.0,0.0,0.0,0.0,...,95.000000,90.000000,85.000000,65.000000,6,6,0,3,2,3
2,2023-03-01,2,14,1090.0,0.0,0.0,0.0,0.0,0.0,0.0,...,50.000000,50.000000,45.000000,45.000000,6,6,0,3,2,3
3,2023-03-01,2,16,1395.0,0.0,0.0,0.0,0.0,0.0,0.0,...,40.000000,40.000000,40.000000,40.000000,6,6,0,0,2,3
4,2023-03-01,2,19,1545.0,30.0,30.0,30.0,15.0,15.0,15.0,...,275.000000,245.000000,220.000000,175.000000,6,5,0,0,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67195,2024-12-31,47,43,1192.0,24.0,24.0,24.0,24.0,24.0,24.0,...,58.769231,53.230769,57.333333,57.333333,0,0,0,0,1,12
67196,2024-12-31,47,45,2904.0,54.0,52.0,50.0,50.0,42.0,36.0,...,131.111111,115.777778,96.000000,73.333333,0,3,0,0,1,12
67197,2024-12-31,47,46,1355.0,15.0,15.0,15.0,15.0,15.0,0.0,...,330.000000,315.000000,280.000000,140.000000,0,9,0,0,1,12
67198,2024-12-31,48,45,2284.0,248.0,180.0,144.0,144.0,144.0,144.0,...,14.337079,13.528090,15.569231,23.121951,9,3,3,0,1,12
67199,2024-12-31,48,46,5274.0,405.0,381.0,369.0,333.0,330.0,294.0,...,16.804054,14.331081,13.338129,11.102362,9,9,3,0,1,12

In [171]:
import pandas as pd
import numpy as np
from pathlib import Path

def process_transaction_data(transaction_file='train/transactions.csv', 
                           train_file='train.csv'):

    
    print("Loading transaction data...")
    df = pd.read_csv(transaction_file)
    
    print(f"Original data shape: {df.shape}")
    print(f"Columns: {df.columns.tolist()}")
    
    # Filter for DBD 15-30 range only
    print("Filtering data for DBD 15-30 range...")
    df_filtered = df[(df['dbd'] >= 15) & (df['dbd'] <= 30)].copy()
    print(f"Filtered data shape: {df_filtered.shape}")
    
    print("Grouping by route and DOJ...")
    
    # Group by route (srcid, destid) and doj to create time series
    grouped = df_filtered.groupby(['doj', 'srcid', 'destid'])
    
    train_data = []
    
    for (doj, srcid, destid), group in grouped:
        # Sort by DBD in descending order (30 to 15)
        group_sorted = group.sort_values('dbd', ascending=False)
        
        # Get the final seat count (at DBD 15, which is minimum DBD)
        final_seat_count = group_sorted[group_sorted['dbd'] == group_sorted['dbd'].min()]['cumsum_seatcount'].iloc[0]
        
        # Create time series data - one row per DBD
        for _, row in group_sorted.iterrows():
            train_data.append({
                'doj': doj,
                'srcid': srcid,
                'destid': destid,
                'dbd': row['dbd'],
                'srcid_region': row['srcid_region'],
                'destid_region': row['destid_region'],
                'srcid_tier': row['srcid_tier'],
                'destid_tier': row['destid_tier'],
                'cumsum_seatcount': row['cumsum_seatcount'],
                'cumsum_searchcount': row['cumsum_searchcount'],
                'final_seatcount': final_seat_count
            })
    
    # Create DataFrame
    print("Creating training DataFrame...")
    train_df = pd.DataFrame(train_data)
    
    # Save file
    print(f"Saving train data to {train_file}...")
    train_df.to_csv(train_file, index=False)
    print(f"Train data shape: {train_df.shape}")
    
    # Display sample data
    print("\nSample train data:")
    print(train_df.head(10))
    
    # Data summary
    print(f"\nData Summary:")
    print(f"Unique routes: {train_df[['doj', 'srcid', 'destid']].drop_duplicates().shape[0]}")
    print(f"Date range: {train_df['doj'].min()} to {train_df['doj'].max()}")
    print(f"DBD range: {train_df['dbd'].min()} to {train_df['dbd'].max()}")
    print(f"Total records: {len(train_df)}")
    
    return train_df

def analyze_data_quality(train_df):
    """
    Analyze the quality and completeness of the processed data.
    """
    print("\n" + "="*50)
    print("DATA QUALITY ANALYSIS")
    print("="*50)
    
    # Check for missing values
    print("\nMissing values:")
    print(train_df.isnull().sum())
    
    # Check DBD distribution
    print(f"\nDBD distribution:")
    print(train_df['dbd'].value_counts().sort_index())
    
    # Check routes with incomplete time series
    route_counts = train_df.groupby(['doj', 'srcid', 'destid'])['dbd'].count()
    incomplete_routes = route_counts[route_counts < 16]  # Should have 16 records (DBD 15-30)
    
    print(f"\nRoutes with incomplete time series (< 16 records): {len(incomplete_routes)}")
    if len(incomplete_routes) > 0:
        print("Sample incomplete routes:")
        print(incomplete_routes.head())
    
    # Check for duplicate entries
    duplicates = train_df.duplicated(subset=['doj', 'srcid', 'destid', 'dbd']).sum()
    print(f"\nDuplicate route-dbd combinations: {duplicates}")
    
    return train_df


# Main execution
if __name__ == "__main__":
    try:       
        # Process the data
        train_df = process_transaction_data()
        
        # Analyze data quality
        analyze_data_quality(train_df)
        
        print("\n" + "="*50)
        print("PROCESSING COMPLETE!")
        print("="*50)
        print("File created:")
        print("- train.csv: Time series training data")
        print("\nYou can now use train.csv for time series forecasting model training.")
        
    except Exception as e:
        print(f"Error: {e}")
        import traceback
        traceback.print_exc()

Loading transaction data...
Original data shape: (2266100, 11)
Columns: ['doj', 'doi', 'srcid', 'destid', 'srcid_region', 'destid_region', 'srcid_tier', 'destid_tier', 'cumsum_seatcount', 'cumsum_searchcount', 'dbd']
Filtering data for DBD 15-30 range...
Filtered data shape: (1169600, 11)
Grouping by route and DOJ...
Creating training DataFrame...
Saving train data to train.csv...
Train data shape: (1169600, 11)

Sample train data:
          doj  srcid  destid  dbd         srcid_region        destid_region  \
0  2023-03-01      1       2   30  Maharashtra and Goa  Maharashtra and Goa
1  2023-03-01      1       2   29  Maharashtra and Goa  Maharashtra and Goa
2  2023-03-01      1       2   28  Maharashtra and Goa  Maharashtra and Goa
3  2023-03-01      1       2   27  Maharashtra and Goa  Maharashtra and Goa
4  2023-03-01      1       2   26  Maharashtra and Goa  Maharashtra and Goa
5  2023-03-01      1       2   25  Maharashtra and Goa  Maharashtra and Goa
6  2023-03-01      1       2   24  Maharashtra and Goa  Maharashtra and Goa
7  2023-03-01      1       2   23  Maharashtra and Goa  Maharashtra and Goa
8  2023-03-01      1       2   22  Maharashtra and Goa  Maharashtra and Goa
9  2023-03-01      1       2   21  Maharashtra and Goa  Maharashtra and Goa

  srcid_tier destid_tier  cumsum_seatcount  cumsum_searchcount  \
0      Tier2      Tier 1               0.0                40.0
1      Tier2      Tier 1               0.0                45.0
2      Tier2      Tier 1               0.0                45.0
3      Tier2      Tier 1               0.0                45.0
4      Tier2      Tier 1               0.0                45.0
5      Tier2      Tier 1               0.0                45.0
6      Tier2      Tier 1               0.0                50.0
7      Tier2      Tier 1               0.0                55.0
8      Tier2      Tier 1               0.0                55.0
9      Tier2      Tier 1               0.0                60.0

   final_seatcount
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
5              0.0
6              0.0
7              0.0
8              0.0
9              0.0

Data Summary:
Unique routes: 73100
Date range: 2023-03-01 to 2025-02-28
DBD range: 15 to 30
Total records: 1169600

==================================================
DATA QUALITY ANALYSIS
==================================================

Missing values:
doj                   0
srcid                 0
destid                0
dbd                   0
srcid_region          0
destid_region         0
srcid_tier            0
destid_tier           0
cumsum_seatcount      0
cumsum_searchcount    0
final_seatcount       0
dtype: int64

DBD distribution:
dbd
15    73100
16    73100
17    73100
18    73100
19    73100
20    73100
21    73100
22    73100
23    73100
24    73100
25    73100
26    73100
27    73100
28    73100
29    73100
30    73100
Name: count, dtype: int64

Routes with incomplete time series (< 16 records): 0

Duplicate route-dbd combinations: 0

==================================================
PROCESSING COMPLETE!
==================================================
File created:
- train.csv: Time series training data

You can now use train.csv for time series forecasting model training.

In [177]:
import pandas as pd

def update_final_seat_count(train_file='train.csv', 
                           metadata_file='train/train.csv',
                           output_file='train.csv'):
    """
    Update final_seatcount in train.csv using data from train_metadata.csv
    
    Parameters:
    - train_file: Training data CSV file
    - metadata_file: Metadata CSV with final seat counts
    - output_file: Updated training data CSV file
    """
    
    print("Loading train data...")
    train_df = pd.read_csv(train_file)
    print(f"Train data shape: {train_df.shape}")
    
    print("Loading metadata...")
    metadata_df = pd.read_csv(metadata_file)
    print(f"Metadata shape: {metadata_df.shape}")
    print(f"Metadata columns: {metadata_df.columns.tolist()}")
    
    # Display sample of metadata to understand structure
    print("\nSample metadata:")
    print(metadata_df.head())
    
    # Create merge key based on common columns
    # Assuming metadata has columns: doj, srcid, destid, final_seatcount
    merge_columns = ['doj', 'srcid', 'destid']
    
    # Check if merge columns exist in both dataframes
    missing_cols_train = [col for col in merge_columns if col not in train_df.columns]
    missing_cols_metadata = [col for col in merge_columns if col not in metadata_df.columns]
    
    if missing_cols_train:
        print(f"Warning: Missing columns in train data: {missing_cols_train}")
    if missing_cols_metadata:
        print(f"Warning: Missing columns in metadata: {missing_cols_metadata}")
    
    # Perform the merge
    print(f"\nMerging on columns: {merge_columns}")
    
    # First, drop the existing final_seatcount column from train data
    if 'final_seatcount' in train_df.columns:
        train_df = train_df.drop('final_seatcount', axis=1)
    
    # Merge with metadata to get updated final_seatcount
    train_updated = train_df.merge(
        metadata_df[merge_columns + ['final_seatcount']], 
        on=merge_columns, 
        how='left'
    )
    
    print(f"Updated train data shape: {train_updated.shape}")
    
    # Check for missing final_seatcount values after merge
    missing_count = train_updated['final_seatcount'].isnull().sum()
    print(f"Missing final_seatcount after merge: {missing_count}")
    
    if missing_count > 0:
        print("Routes with missing final_seatcount (sample):")
        missing_routes = train_updated[train_updated['final_seatcount'].isnull()][merge_columns].drop_duplicates().head()
        print(missing_routes)
    
    # Save updated file
    print(f"\nSaving updated data to {output_file}...")
    train_updated.to_csv(output_file, index=False)
    
    print("\nSample updated data:")
    print(train_updated[['doj', 'srcid', 'destid', 'dbd', 'cumsum_seatcount', 'final_seatcount']].head(10))
    
    # Summary statistics
    print(f"\nSummary:")
    print(f"Total records: {len(train_updated)}")
    print(f"Unique routes: {train_updated[merge_columns].drop_duplicates().shape[0]}")
    print(f"Final seat count range: {train_updated['final_seatcount'].min()} - {train_updated['final_seatcount'].max()}")
    
    return train_updated

def verify_update(original_file='train.csv', updated_file='train_updated.csv'):
    """
    Verify the update by comparing original and updated files
    """
    print("Verifying update...")
    
    original_df = pd.read_csv(original_file)
    updated_df = pd.read_csv(updated_file)
    
    print(f"Original final_seatcount unique values: {original_df['final_seatcount'].nunique()}")
    print(f"Updated final_seatcount unique values: {updated_df['final_seatcount'].nunique()}")
    
    print(f"Original final_seatcount range: {original_df['final_seatcount'].min()} - {original_df['final_seatcount'].max()}")
    print(f"Updated final_seatcount range: {updated_df['final_seatcount'].min()} - {updated_df['final_seatcount'].max()}")
    
    # Compare a sample route
    sample_route = updated_df[['doj', 'srcid', 'destid']].drop_duplicates().iloc[0]
    print(f"\nSample route comparison:")
    print(f"Route: {sample_route.values}")
    
    original_sample = original_df[
        (original_df['doj'] == sample_route['doj']) & 
        (original_df['srcid'] == sample_route['srcid']) & 
        (original_df['destid'] == sample_route['destid'])
    ]['final_seatcount'].iloc[0]
    
    updated_sample = updated_df[
        (updated_df['doj'] == sample_route['doj']) & 
        (updated_df['srcid'] == sample_route['srcid']) & 
        (updated_df['destid'] == sample_route['destid'])
    ]['final_seatcount'].iloc[0]
    
    print(f"Original final_seatcount: {original_sample}")
    print(f"Updated final_seatcount: {updated_sample}")
    print(f"Changed: {'Yes' if original_sample != updated_sample else 'No'}")

# Main execution
if __name__ == "__main__":
    try:
        # Update final seat count
        updated_df = update_final_seat_count()
        
        # Verify the update
        # verify_update()
        
        print("\n" + "="*50)
        print("UPDATE COMPLETE!")
        print("="*50)
        print("File created: train_updated.csv")
        print("Final seat counts have been updated from train_metadata.csv")
        
    except Exception as e:
        print(f"Error: {e}")
        import traceback
        traceback.print_exc()

Loading train data...
Train data shape: (1169600, 11)
Loading metadata...
Metadata shape: (67200, 4)
Metadata columns: ['doj', 'srcid', 'destid', 'final_seatcount']

Sample metadata:
          doj  srcid  destid  final_seatcount
0  2023-03-01     45      46           2838.0
1  2023-03-01     46      45           2298.0
2  2023-03-01     45      47           2720.0
3  2023-03-01     47      45           2580.0
4  2023-03-01     46       9           4185.0

Merging on columns: ['doj', 'srcid', 'destid']
Updated train data shape: (1169600, 11)
Missing final_seatcount after merge: 94400
Routes with missing final_seatcount (sample):
                doj  srcid  destid
1075200  2025-01-01      1       2
1075216  2025-01-01      2       1
1075232  2025-01-01      2      14
1075248  2025-01-01      2      16
1075264  2025-01-01      2      19

Saving updated data to train.csv...

Sample updated data:
          doj  srcid  destid  dbd  cumsum_seatcount  final_seatcount
0  2023-03-01      1       2   30               0.0           1115.0
1  2023-03-01      1       2   29               0.0           1115.0
2  2023-03-01      1       2   28               0.0           1115.0
3  2023-03-01      1       2   27               0.0           1115.0
4  2023-03-01      1       2   26               0.0           1115.0
5  2023-03-01      1       2   25               0.0           1115.0
6  2023-03-01      1       2   24               0.0           1115.0
7  2023-03-01      1       2   23               0.0           1115.0
8  2023-03-01      1       2   22               0.0           1115.0
9  2023-03-01      1       2   21               0.0           1115.0

Summary:
Total records: 1169600
Unique routes: 73100
Final seat count range: 2.0 - 13503.0
Verifying update...
Error: [Errno 2] No such file or directory: 'train_updated.csv'

Traceback (most recent call last):
  File "C:\Users\Asus\AppData\Local\Temp\ipykernel_12456\1081991340.py", line 124, in <module>
    verify_update()
  File "C:\Users\Asus\AppData\Local\Temp\ipykernel_12456\1081991340.py", line 88, in verify_update
    updated_df = pd.read_csv(updated_file)
                 ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Asus\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\io\parsers\readers.py", line 948, in read_csv
    return _read(filepath_or_buffer, kwds)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Asus\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\io\parsers\readers.py", line 611, in _read
    parser = TextFileReader(filepath_or_buffer, **kwds)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Asus\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\io\parsers\readers.py", line 1448, in __init__
    self._engine = self._make_engine(f, self.engine)
                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Asus\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\io\parsers\readers.py", line 1705, in _make_engine
    self.handles = get_handle(
                   ^^^^^^^^^^^
  File "C:\Users\Asus\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\io\common.py", line 863, in get_handle
    handle = open(
             ^^^^^
FileNotFoundError: [Errno 2] No such file or directory: 'train_updated.csv'

In [178]:
df_all_train = pd.read_csv('train.csv')

In [179]:
df_all_train = df_all_train[0:1075202]

In [182]:
df_all_train = df_all_train[:-2]

In [185]:
df_all_train.to_csv('train.csv', index=False)